<% if resource.errors.any? %>
  <% if resource.errors.full_messages.first.include?("successfully") || resource.errors.full_messages.first.include?("Thank")%>
    <div class="alert-success">
  <% else %>
    <div class="alert-danger">
  <% end %>
    <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
    <p class="alert-paragraph"><%= resource.errors.full_messages.first %></p>
  </div>
<% end %>
