<div class="main-page-div">
  <h1 class="h1-title">Open Issues</h1>
  <div>
    <p>The list of issues is maintained in Asana. To check the list of issues, please navigate to <%= link_to "Asana Project", "https://app.asana.com/0/1204123532924830/list", target: :blank %></p>
  </div>
  <%= link_to "New Issue", "https://form.asana.com/?k=Mwyn-bNOCFwF9zhOVPSR5g&d=1204123381026060", :class => "button add-link", target: :blank %>
</div>
