<div class="main-page-div">
  <h1 class="h1-title">Open Issues</h1>
  <div style="margin-top: 3rem; font-size: 17px;">
    <p>The list of issues is maintained in <em>Asana</em>. To check the list of issues, please navigate to <%= link_to "Asana Project", "https://app.asana.com/0/1204948711618613/list", class: "links-class", target: :blank %>.</p>
    <%= link_to "New Issue", "#{ENV['ASANA_FORM']}", :class => "button add-link", target: :blank %>
  </div>
</div>
