<div style="flex: 0 1 calc(33%); height: 50px;">
  <% if user.provider == "google_oauth2" %>
    <h6 style="margin-left: 17px;"><%= image_tag(user.avatar_url, border: 0, width: '40px', class: "image-radius") %></h6>
  <% elsif user.avatar.attached? %>
    <h6 style="margin-left: 17px;"><%= image_tag(user.avatar.url, border: 0, width: '45px', class: "image-radius") %></h6>
  <% end %>

  <% if defined?(unread_users_ids) %>
    <% if unread_users_ids.present? && unread_users_ids.include?(user.id) %>
      <%= link_to user.name, user, class: "links-class", style: "font-size: 18px; color: var(--r);", data: { turbo: "false" } %>
    <% else %>
      <%= link_to user.name, user, class: "links-class", style: "font-size: 16px", data: { turbo: "false" } %>
    <% end %>
  <% end %>
</div>