<div id="terms_conditions_pop_up" class="hidden" style="opacity: 0.85;">
  <div class="popup-wrapper" style="margin-left: 56rem; margin-top: 34rem; width: 300px; background-color: white;">
    <span style="float: right; font-size: 25px; padding-right: 15px; padding-top: 5px; color: var(--r); cursor: pointer;" onclick="closeTermsConditionsPopUp()">&times;</span>
    <div style="margin-top: 2.5rem; padding-left: 10px; padding-right: 10px;">
      <p>
        • For selling and buying bicycles on our site you need to have a PayPal account.
      </p>
      <br/>
      <p>
        • We can keep up to 10% of the selling price of a bicycle.
      </p>
      <br/>
      <p>
        • You are not allowed to talk to other users by any method.
      </p>
      <br/>
      <p>
        • All your photos need to be true and authentic.
      </p>
    </div>
  </div>
</div>