<div class="upload-info-div-1">
  <span>Please upload your shipping proof here.</span>
</div>
<div class="dropzone dropzone-flex drop-title drop-container dropzone-styles" id="dropzone-form-2"></div>
<div class="upload-info-div-2">
  <%= button_to "Upload", posts_path, id: "createPost", method: :get, data: { turbo: "false" }, :class => "button", :style => "margin-left: 7.5rem; margin-bottom: 0.5rem;" %>
</div>

<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  var createPostButton = document.getElementById('createPost');
  var myDropzone = null;
  var dropzoneDiv = document.getElementById("dropzone-form-2");

  if (myDropzone == null) {
    myDropzone = new Dropzone("div#dropzone-form-2", { uploadMutliple: false,
                                                    parallelUploads: 1,
                                                    maxFiles: 1,
                                                    acceptedFiles: ".jpeg, .jpg, .png",
                                                    url: `/posts/post_upload_proof?post_id=<%= params[:id] %>&method=post`,
                                                    autoProcessQueue: true,
                                                    addRemoveLinks: true
                                                  });
  } else {
    myDropzone.enable();
  }

  createPostButton.addEventListener('click', () => {
    myDropzone.processQueue();
  });
</script>
