select {
  /* appearance: none; */
  border: 0;
  width: 20em;
  height: 3em;
  padding: 0 1em 0 0.5em;
  cursor: pointer;
  border-radius: 15px; 
  outline: 1px solid #2a9d8f;
}

select option {
  color: inherit;
}

select:focus {
  outline: 1px solid #2a9d8f;
}

select::-ms-expand {
  display: none;
}

.add-post-div {
  margin-top: 2rem;
  margin-left: 25rem;
  margin-bottom: 3rem;
}

.cancel-link {
  font-size: 20px;
}

.textarea-input {
  width: 49rem;
  border-radius: 15px; 
  border-color: #2a9d8f;
  border-width: 1.5px;
  outline: none;
}

.textarea-input:focus {
	border: 2px solid #006d77;
}