.wrapper {
  height: 420px;
  width: 654px;
  border-radius: 7px 7px 7px 7px;
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
  position: relative;
  display: flex;
}

.product-img .electric-button {
  position: absolute;
  margin-left: 10rem;
  margin-top: 23rem;
}

.product-img .size-button {
  position: absolute;
  margin-top: 23rem;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: var(--beige);
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 10px;
  padding-top: 20px;
  font-size: 34px;
}

.product-text h2 {
  margin: 5px 0 0px 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 170px;
  margin: 25px 0 20px 10px;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 20px;
  width: 310px;
  margin-top: 4rem;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  height: 50px;
  margin: 0 0 0 30px;
  font-size: 28px;
}

.card-span {
  height: 20px;
  font-size: 23px;
}

.product-price-btn button {
  float: right;
  cursor: pointer;
}

.product-price {
  font-size: 23px;
  color: var(--light-red);
  font-weight: 600;

  display: inline-block;
  position: absolute;
  height: 50px;
  margin: 10px 0 0 15px;
}

.product-price small {
  font-size: 70%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}