.wrapper {
  height: 420px;
  width: 654px;
  border-radius: 7px 7px 7px 7px;
}

.wrapper-grid {
  height: 250px;
  width: 300px;
  border-radius: 7px 7px 7px 7px;
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
  position: relative;
  display: flex;
}

.product-img-grid {
  float: left;
  height: 250px;
  width: 327px;
  position: relative;
  display: flex;
}

.product-img .electric-button {
  position: absolute;
  margin-left: 15.7rem;
  margin-top: 24.4rem;
  padding: 7px;
  border-radius: 10px;
  background-color: #006d77;
  font-size: 10px;
}

.product-img-grid .electric-button {
  position: absolute;
  margin-left: 15.7rem;
  margin-top: 13.8rem;
  padding: 7px;
  border-radius: 10px;
  background-color: #006d77;
  font-size: 10px;
}

.validating-span {
  position: absolute;
  margin-left: 1rem;
  padding-top: 3rem;
  font-weight: bold;
}

.product-img .favorites-button {
  position: absolute;
}

.product-img-grid .favorites-button {
  position: absolute;
}

.product-img .size-button {
  position: absolute;
  margin-top: 24.4rem;
  padding: 7px;
  border-radius: 10px;
  background-color: #006d77;
  font-size: 10px;
}

.product-img-grid .size-button {
  position: absolute;
  margin-top: 13.8rem;
  padding: 7px;
  border-radius: 10px;
  background-color: #006d77;
  font-size: 10px;
}

.product-img img {
  border-radius: 10px 0 0 10px;
  border: 1px solid #2a9d8f;
}

.product-img-grid img {
  border-radius: 10px 10px 0 0;
  border: 1px solid #2a9d8f;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 10px 10px 0px;
  background-color: white;
  border-top: 1px solid #2a9d8f;
  border-bottom: 1px solid #2a9d8f;
  border-right: 1px solid #2a9d8f;
}

.product-info-grid {
  float: left;
  height: 240px;
  width: 327px;
  border-radius: 0 0 10px 10px;
  border-left: 1px solid #2a9d8f;
  border-bottom: 1px solid #2a9d8f;
  border-right: 1px solid #2a9d8f;
}

.product-text {
  height: 250px;
  width: 327px;
}

.product-text-grid {
  height: 100px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 10px;
  padding-top: 20px;
  font-size: 34px;
}

.product-text-grid h1 {
  margin: 0 0 0 10px;
  padding-top: 20px;
  font-size: 20px;
}

.product-text h2 {
  margin: 5px 0 0px 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.product-text-grid h2 {
  margin: 5px 0 0px 10px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 160px;
  margin: 25px 0 20px 10px;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-text-grid p {
  height: 20px;
  margin: 15px 0 15px 10px;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 20px;
  width: 310px;
  margin-top: 7.5rem;
  position: relative;
}

.product-price-btn-grid {
  height: 20px;
  width: 310px;
  margin-top: 6rem;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  height: 50px;
  margin: 0 0 0 30px;
  font-size: 28px;
}

.product-price-btn-grid p {
  display: inline-block;
  position: absolute;
  height: 50px;
  margin: 0 0 0 30px;
  font-size: 28px;
}

.card-span {
  height: 20px;
  font-size: 20px;
}

.card-span-grid {
  height: 20px;
  font-size: 20px;
}

.product-price-btn button {
  float: right;
  cursor: pointer;
}

.product-price-btn-grid button {
  float: right;
  cursor: pointer;
}

.product-price {
  font-size: 20px;
  color: var(--light-red);
  font-weight: 600;

  display: inline-block;
  position: absolute;
  height: 50px;
  margin: 10px 0 0 15px;
}

.product-price-grid {
  font-size: 20px;
  color: #A30000;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  height: 50px;
  margin: 10px 0 0 15px;
}

.product-price small {
  font-size: 70%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-price-grid small {
  font-size: 70%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
  color: #2f3e46;
}

small {
  font-size: 70%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}