.message-box {
  width: fit-content;
  max-width: 40%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 15px;
  background-color: var(--light-red);
}

.messages-main-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  height: 86vh;
  overflow-y: scroll;
  width: 79vw;
  padding-right: 20px;
  border: 1px solid black;
  margin-left: 5px;
  overflow-x: hidden;
}

.rooms-container {
  width: 20vw;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.message-date-div {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.message-name-div {
  display: flex;
}

.message-name {
  padding-top: 15px;
  padding-left: 8px;
  font-size: 12px;
}

.message-content-div {
  padding-top: 10px;
}

.create-message-footer {
  width: 102%;
  height: 100px;
  display: flex;
  align-items: center;
  border-top: 2px solid #EEE;
  background-color: beige;
}

.room-name-div {
  position: absolute;
  bottom: 28rem;
  margin-left: 45rem;
}

.write-message {
  border: none !important;
  width: 60rem;
  margin-left: 20px;
  padding: 10px;
  border-radius: 15px;
}

.footer-chat-form {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15rem;
}

.send-image {
  margin-top: 20px;
  margin-left: 1rem;
  float: right;
}
