.message-box {
  width: fit-content;
  max-width: 40%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 15px;
  background-color: #006d77;
  color: white;
}

.messages-main-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column-reverse;
  height: 97vh;
  overflow-y: scroll;
  width: 65vw;
  padding-right: 20px;
  border: 1px solid #2a9d8f;
  border-radius: 15px;
  margin-left: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.rooms-container {
  width: 20vw;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
}

.users-div {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 300px;
  height: 280px;
}

.rooms-div {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 350px;
  height: 360px;
}

.message-date-div {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.message-name-div {
  display: flex;
}

.message-name {
  padding-top: 15px;
  padding-left: 8px;
  font-size: 12px;
}

.message-content-div {
  padding-top: 10px;
}

.create-message-footer {
  width: 102%;
  height: 100px;
  display: flex;
  align-items: center;
  border-top: 1px solid #2a9d8f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.room-name-div {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 0.3rem;
  color: #2a9d8f;
}

.write-message {
  border: none !important;
  width: 60rem;
  margin-left: 20px;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  outline: 1px solid #2a9d8f;
}

.write-message:focus {
  outline: 2px solid #006d77;
}

.footer-chat-form {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 2rem;
}

.send-image {
  margin-top: 20px;
  margin-left: 1rem;
  float: right;
}

.chat-room {
  border: 1px solid #2a9d8f;
  border-radius: 15px;
  padding: 5px;
}