.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
}

.card {
  width: 500px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 2px 2px 0 #222, 2px 2px 15px rgba(0,0,0,0.9);
  /* background: hsla(49, 82%, 72%, 1);
  background: linear-gradient(315deg, hsla(49, 82%, 72%, 1) 0%, hsla(45, 44%, 39%, 1) 100%);
  background: -moz-linear-gradient(315deg, hsla(49, 82%, 72%, 1) 0%, hsla(45, 44%, 39%, 1) 100%);
  background: -webkit-linear-gradient(315deg, hsla(49, 82%, 72%, 1) 0%, hsla(45, 44%, 39%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2DD7E", endColorstr="#8E7837", GradientType=1 ); */
  background: hsla(49, 77%, 71%, 1);
  background: linear-gradient(225deg, hsla(49, 77%, 71%, 1) 32%, hsla(45, 63%, 31%, 1) 100%);
  background: -moz-linear-gradient(225deg, hsla(49, 77%, 71%, 1) 32%, hsla(45, 63%, 31%, 1) 100%);
  background: -webkit-linear-gradient(225deg, hsla(49, 77%, 71%, 1) 32%, hsla(45, 63%, 31%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEDA7E", endColorstr="#7F661D", GradientType=1 );
}

.card-title {
  float:left;
  margin-top: 15px;
  color: white;
  margin-left: 15px;
}

.logo {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.card-number {
  float: left;
  margin-top: 50px;
  margin-left: 5px;
  color: white;
}

.card-number .card-number-input {
  height: 25px;
  background-color: transparent;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.card-name {
  display: flex;
  clear: both;
  float: left;
  margin-left: 10px;
  color: #fff;
}

.card-name .card-name-input {
  height: 25px;
  background-color: transparent;
  border: none;
  color: white;
  width: 80px;
  border-radius: 5px;
  margin-left: 10px;
}

.card-number-input:focus, .card-name-input:focus {
  color: #fff;
  outline: none;
  border-bottom: 1px solid white;
}

.select-date {
  float: left;
  margin-left: 15px;
}

.card-cvc {
  float: right;
  margin-right: 20px;
}

.card-cvc .card-cvc-input {
  background-color: transparent;
  border: none;
  color: #fff;
  height: 10px;
}

.card-cvc .card-cvc-input:focus {
  color: #fff;
  outline: none;
  border: 1px solid white;
}

.checkout-select {
  background-color: rgba(255,255,255, 0.2);
  color: #fff;
  width: 90px;
  height: 30px;
  border-color: white;
  outline: none;
}

.checkout-select:focus {
  outline: white;
}

.buy-button {
  cursor: pointer;
  margin-top: 65px;
  margin-left: 100px;
  margin-right: -100px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: -2px 0px 6px 1px #000000;
  background-color: #686868;
  border:none;
  color: #fff;
}

.buy-button:hover {
  background-color: #66BB6A;
  transition: linear 0.2s;
}
