.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-50, .col-75 {
  padding: 0 16px;
}

.checkout-container {
  background-color: white;
  padding: 10px 20px 15px 20px;
  border-radius: 10px;
  width: 80rem;
  margin: 0 auto;
  margin-top: 8rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.3), 0 10px 10px rgba(0,0,0,0.3); 
}

.checkout-input {
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #2a9d8f;
  border-radius: 15px;
}

label {
  margin-bottom: 10px;
  display: block;
}

span.price {
  float: right;
  color: grey;
}
