.edit-title {
  padding-top: 1rem;
  padding-left: 2rem;
  color: var(--dark-blue);
}

.title-div {
  padding-left: 5rem;
  border-bottom: 1px solid var(--light-blue);
  max-width: 1500px;
  padding-bottom: 15px;
  color: var(--dark-blue);
}

.identity-div {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--light-blue);
  max-width: 1500px;
  padding-bottom: 15px;
  color: var(--dark-blue);
}

.security-div {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--light-blue);
  max-width: 1500px;
  padding-bottom: 15px;
  color: var(--dark-blue);
}

.identity-title {
  margin-left: 12rem;
}

.security-title {
  margin-left: 12rem;
}

.identity-inputs {
  margin-left: 10rem;
}

.security-inputs {
  margin-left: 13rem;
}

.input-edit {
  background-color: #EEDCB9;
	border: none;
	padding: 12px 15px;
	margin-bottom: 10px;
  width: 400px;
  border-radius: 10px;
  color: var(--dark-blue);
}

.edit-span {
  padding-right: 30px;
  color: var(--dark-blue);
}

.update-button {
  margin-left: 5rem;
  margin-top: 9.3rem;
}

.cancel-account {
  margin-top: 2rem;
  margin-left: 14rem;
  color: var(--dark-blue);
}

.cancel-div {
  margin-top: 4rem;
  margin-left: 34.5%;
}

.unhappy-span {
  padding-left: 5rem;
  color: var(--dark-blue);
  font-size: 20px;
}

.add-div {
  margin-bottom: 10px;
}

.info-span {
  margin-left: 31%;
}