.most-viewed-div {
  margin-top: 2rem;
}

.most-viewed-title {
  padding-left: 47rem;
}

.sale-padding {
  padding-left: 50rem;
}

.suggestion-div {
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 40rem;
  margin: 0 auto;
}

.suggestion-span {
  padding-left: 11rem;
}