.most-viewed-div {
  margin-top: 2rem;
}

.most-viewed-title {
  color: var(--dark-blue);
  padding-left: 48.5rem;
}

.sale-padding {
  padding-left: 52rem;
}

.suggestion-div {
  margin-top: 3rem;
  margin-left: 32rem;
  margin-bottom: 4rem;
  width: 40rem;
}

.suggestion-span {
  padding-left: 11rem;
}