.grid-post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem;
  min-height: 74vh;
  margin-left: 3.5rem;
}
        
.grid-item {
  padding-bottom: 32.5rem;
}

.no-posts {
  font-size: 30px;
  margin-top: 20rem;
  margin-left: 42rem;
  width: 400px;
}

.validating {
  width: 327px;
  background-color: rgba(0, 0, 0, .3);
}