.user-section {
  padding-top: 3rem;
  margin-left: 67rem;
  font-size: 50px;
  display: flex;
  flex-direction: row;
}

.user-name {
  margin-top: 0.7rem;
  margin-right: 0.5rem;
}

.report-section {
  margin-left: 67rem;
}

.admin-margin {
  margin-left: 15rem;
}

.star-span {
  color: #F9BF3B;
  /* text-shadow: 0 0 20px #F9BF3B; */
  height: 100%;
  text-align: center;
  font-size: 40px;
  padding-right: 5px;
}