.user-section {
  padding-top: 3rem;
  margin-left: 67rem;
  font-size: 50px;
  display: flex;
  flex-direction: row;
}

.user-name {
  margin-top: 0.7rem;
  margin-right: 0.5rem;
}

.report-section {
  margin-left: 67rem;
}

.admin-margin {
  margin-left: 15rem;
}