.main-sidebar-div {
  display: flex;
  flex-direction: row; 
  min-height: 100vh; 
  overflow-y: auto;
  position: fixed;
  left: 0;
  border-right: 0.7px solid #2a9d8f;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 2.5rem;
}

.main-sidebar-div-2 {
  display: flex; 
  overflow: hidden; 
  background-color: white; 
  flex-direction: column; 
  width: 14rem; 
  overflow-y: auto; 
}

.logo-div {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 5rem; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-bottom: 0.5px solid #2a9d8f;
}

.sidebar-ul {
  display: flex; 
  padding-top: 1rem;
  flex-direction: column; 
  list-style: none;
  margin-left: -1.5rem;
  overflow-y: scroll;
  height: 80vh;
}

.sidebar-ul::-webkit-scrollbar {
  display: none;
}

.sidebar-a {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  height: 3rem;
}

.sidebar-a:hover {
  transform: translateX(0.5rem);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 200ms;
}

.sidebar-icon-span {
  display: inline-flex;
  font-size: 20px;
  line-height: 1.75rem; 
  justify-content: center; 
  align-items: center; 
  width: 3rem; 
  height: 3rem; 
}

.sidebar-title-span {
  font-size: 20px;
  line-height: 1.25rem; 
  font-weight: 500; 
}

.main-logout-div {
  display: flex; 
  padding: 1rem;
  position: fixed;
  bottom: 0;
  border-top: 0.5px solid #2a9d8f;
  width: 14rem;
  justify-content: center;
}

.dropdown {
  transition: 0.3s ease;
}
 
.rotate {
  transform: rotate(90deg);
  transition: 0.3s ease;
}

.sub-menu {
  display: none;
}

.sub-btn {
  padding-left: 3rem;
}

.dropdown-span {
  cursor: pointer;
}

.dropdown-span:hover {
  transition: 0.5s ease;
  text-decoration: underline;
}