.edit-post-title-div {
  padding-top: 2rem;
  width: 15rem;
  margin: 0 auto;
}

.dropzone-styles {
  margin-top: 1rem;
  margin-left: 26rem;
  width: 50rem;
}

.upload-info-div-1 {
  padding-top: 7rem;
  width: 30rem;
  margin: 0 auto;
  padding-left: 4rem;
}

.upload-info-div-2 {
  padding-top: 3rem;
  width: 30rem;
  margin: 0 auto;
  padding-left: 1rem;
}