.edit-post-title-div {
  padding-top: 2rem;
  width: 10rem;
  margin: 0 auto;
}

.dropzone-styles {
  margin-top: 1rem;
  margin-left: 26rem;
  width: 50rem;
}

.upload-info-div-1 {
  margin-top: 5rem;
  margin-left: 42rem;
}

.upload-info-div-2 {
  margin-top: 3rem;
  margin-left: 39rem;
}