<div id="report_pop_up" class="hidden">
  <div class="popup-wrapper" style="margin-top: 18.5rem;">
    <div style="width: 50rem; margin: 0 auto;">
      <input required name="title" type="text" placeholder="Title (Maximum 30 characters)" maxlength="30" class="input review-input">
      <textarea required name="message" cols="2" rows="12" placeholder="Write the problem here..." maxLength="1000" class="input review-textarea" style="width: 48rem; margin-left: 1rem;" form="report-form"></textarea>
    </div>
    <div style="margin-left: 15rem;">
      <button name="submitButton" value="Report Post" class="button" data-turbo="false">
        Submit
      </button>
      <button type="button" onclick="closeReportPopUp()" class="button">
        Cancel
      </button>
    </div>
  </div>
</div>