<div id="report_pop_up" class="hidden">
  <div class="popup-wrapper">
    <div>
      <input required name="title" type="text" placeholder="Title (Maximum 30 characters)" maxlength="30" class="input">
      <textarea required name="message" cols="2" rows="12" placeholder="Write the problem here..." maxLength="1000" class="input" form="report-form"></textarea>
    </div>
    <div style="margin-left: 15rem;">
      <button name="submitButton" value="Report Post" class="button">
        Submit
      </button>
      <button type="button" onclick="closeReportPopUp()" class="button">
        Cancel
      </button>
    </div>
  </div>
</div>