<% if alert %>
  <% if alert.include?("successfully") || alert.include?("Thank")%>
    <div class="alert-success">
  <% else %>
    <div class="alert-danger">
  <% end %>
    <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
    <p class="alert-paragraph"><%= alert %></p>
  </div>
<% end %>
